#controls {

  position: absolute;

  left: 0;

  bottom:
    calc(
      env(safe-area-inset-bottom)
      + 42px
    );

  width: 100%;

  padding: 0 10px;

  display: flex;

  justify-content: space-between;

  align-items: flex-end;

  z-index: 25;
}

.controlBtn {

  min-width:
    clamp(68px, 22vw, 92px);

  min-height:
    clamp(56px, 10vh, 74px);

  padding: 8px;

  border: 6px solid #000;

  background: linear-gradient(
    #ffffff,
    var(--sky)
  );

  color: #111;

  font-size:
    clamp(18px, 5vw, 24px);

  box-shadow:
    6px 6px 0 #000;
}#controls {

  position: absolute;

  left: 0;

  bottom:
    calc(
      env(safe-area-inset-bottom)
      + 42px
    );

  width: 100%;

  padding: 0 10px;

  display: flex;

  justify-content: space-between;

  align-items: flex-end;

  z-index: 25;
}

.controlBtn {

  min-width:
    clamp(68px, 22vw, 92px);

  min-height:
    clamp(56px, 10vh, 74px);

  padding: 8px;

  border: 6px solid #000;

  background: linear-gradient(
    #ffffff,
    var(--sky)
  );

  color: #111;

  font-size:
    clamp(18px, 5vw, 24px);

  box-shadow:
    6px 6px 0 #000;
}